aiohttp==3.14.3
aiortc==1.15.0
av==17.1.0
numpy==2.4.4
opencv-python==5.0.0.93
pillow==12.2.0
python-dotenv==1.2.2
torch==2.5.1
torchvision==0.20.1
torchreid @ git+https://github.com/KaiyangZhou/deep-person-reid.git
ultralytics==8.4.117
